@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-weight: bold;
}
#excuse {
  font-size: 40px;
  font-weight: bold;
}
